{# Project Details Template #}
{% extends 'base.html.twig' %}

{% block title %}Details du projet{% endblock %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block body %}
<section id="modifier-hackathon" class="section">
  <div class="container mt-5">
    <h2 class="mb-4 text-center">Details du projet</h2>
    <div class="row justify-content-center">
      <div class="col-md-8">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
          <div class="mb-3">
            {{ form_label(form.nom) }}
            {{ form_widget(form.nom, {
              'attr': {
                'class': 'form-control' ~ (form.nom.vars.errors|length ? ' is-invalid')
              }
            }) }}
            {{ form_errors(form.nom) }}
          </div>
          <div class="mb-3">
            {{ form_label(form.description) }}
            {{ form_widget(form.description, {
              'attr': {
                'class': 'form-control' ~ (form.description.vars.errors|length ? ' is-invalid')
              }
            }) }}
            {{ form_errors(form.description) }}
          </div>
          <div class="mb-3">
            {{ form_label(form.ressource) }}
            {{ form_widget(form.ressource, {
              'attr': {
                'class': 'form-control' ~ (form.ressource.vars.errors|length ? ' is-invalid')
              }
            }) }}
            {{ form_errors(form.ressource) }}
          </div>
          <div class="form-group">
            {{ form_label(form.technologies, 'Technologies') }}
            <div class="d-flex flex-column {% if form.technologies.vars.errors|length %} border border-danger rounded p-2{% endif %}">
              {% for tech in form.technologies %}
                <div class="form-check mb-1">
                  {{ form_widget(tech, {
                    'attr': {
                      'class': 'form-check-input' ~ (tech.vars.errors|length ? ' is-invalid')
                    }
                  }) }}
                  {{ form_label(tech, null, {'label_attr': {'class': 'form-check-label'}}) }}
                </div>
              {% endfor %}
            </div>
            {{ form_errors(form.technologies) }}
          </div>
          <div class="mb-3">
            {{ form_label(form.id_hack) }}
            {{ form_widget(form.id_hack, {
              'attr': {
                'class': 'form-control' ~ (form.id_hack.vars.errors|length ? ' is-invalid')
              }
            }) }}
            {{ form_errors(form.id_hack) }}
          </div>
          <button type="submit" class="btn btn-success">Soummetre</button>
        {{ form_end(form) }}
      </div>
    </div>
  </div>
</section>
{% endblock %}